.section-advantage {

	.section-content {
		padding: 86px 0 142px;
	}

	.section-title {
		margin-bottom: 82px;
		font-weight: 700;
		font-size: 32px;
		line-height: 1.2;
		color: $main_color_text;
	}

	.design-wrapper {
		display: flex;
		justify-content: space-between;
		margin: 0 -86px;
	}

	.design-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0 86px;
		max-width: calc(100 / 3 * 1%);

		.card-image {
			margin-bottom: 54px;
		}

		.card-content {
		}

		.card-title {
			margin-bottom: 12px;
			font-weight: 700;
			font-size: 18px;
			line-height: 1.2;
			letter-spacing: 0.36px;
			color: $main_color_text;
		}

		.card-desc {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.6;
			color: #A1A1A1;

		}
	}
}
