@import "../mixins/input_placeholder";
@import "../mixins/reset_input";

.g-footer {
	padding: 60px 0 76px;
	background-color: #F2F3F4;

	.section-content {
		display: flex;
		margin: 0 -46px;
	}

	.footer-block {
		padding: 0 46px;
		min-width: 164px;

		&.block--logo {}

		&.block--menu {
			min-width: 170px;
		}

		&.block--subscribe {
			min-width: 280px;
		}

		.block-title {
			padding: 0;
			margin: 0 0 16px;
			font-weight: 400;
			font-size: 15px;
			line-height: 1.2;
			color: $secondary_color_text;
		}

		.block-input {
			margin-bottom: 12px;

			input {
				@include ResetInput();
				background-color: #FFF;
				padding: 8px 18px;
				box-sizing: border-box;
				border-radius: 34px;
				font-weight: 400;
				font-size: 16px;
				line-height: 1;
				color: rgba(61, 86, 117, 0.4);

				@include input_placeholder(){
					font-weight: 400;
					font-size: 16px;
					line-height: 1;
					color: rgba(61, 86, 117, 0.4);
				}
			}
		}

		.block-button {}
	}

	.footer-list {
		padding: 0;
		margin: 0;
		list-style: none;

		.list-item {
			&:not(:last-child) {
				margin-bottom: 18px;
			}
		}

		.list-socials {
			display: flex;
			margin: -5px;

			.list-link {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				width: 24px;
				height: 24px;
				margin: 5px;
				background-color: currentColor;
				border-radius: 50%;

				svg {
					fill: #fff;
				}
			}

			[class*=svg-] {
				display: block;
				font-size: 12px;
			}
		}

		.list-link {
			font-weight: 400;
			font-size: 15px;
			line-height: 1;
			color: $secondary_color_text;
		}
	}
}
