.header-hero {
	padding: 86px 0;
	background-color: #F2AE4D;

	.hero-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.content-left {
		padding: 0 120px;
		max-width: 740px;
		box-sizing: border-box;
	}

	.hero-title {
		margin-bottom: 32px;
		font-weight: 400;
		font-size: 48px;
		line-height: 1.2;
		color: $main_color_text;
	}

	.hero-desc {
		margin-bottom: 14px;
		font-weight: 400;
		font-size: 15px;
		line-height: 1.33;
		color: $main_color_text;
	}
}
