<section class="g-section section-advantage">
	<div class="container">
		<div class="section-content">
			<h3 class="section-title">The Arka advantage</h3>
			<div class="design-wrapper">
				<div class="design-card">
					<div class="card-image">
						<img src="./images/advantage/advantage_1.png" alt="">
					</div>
					<div class="card-content">
						<p class="card-title">Eco-Friendly Material</p>
						<p class="card-desc">
							Order as little as 10, giving you the lowest minimums in the industry at the best prices.
						</p>
					</div>
				</div>
				<div class="design-card">
					<div class="card-image">
						<img src="./images/advantage/advantage_2.png" alt="">
					</div>
					<div class="card-content">
						<p class="card-title">Full Outside Print</p>
						<p class="card-desc">
							Design what you want - no extra cost! Prices include 100% exterior print, change design whenever!
						</p>
					</div>
				</div>
				<div class="design-card">
					<div class="card-image">
						<img src="./images/advantage/advantage_3.png" alt="">
					</div>
					<div class="card-content">
						<p class="card-title">Proofing</p>
						<p class="card-desc">
							After you order, our internal designers help make sure your designs are 100% ready for printing!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
