<footer class="g-footer">
	<div class="container">
		<div class="section-content">
			<div class="footer-block block--logo">
				<img src="./images/logo.png" class="no_picture" alt="arkl">
			</div>
			<div class="footer-block block--menu">
				<ul class="footer-list">
					<li class="list-item">
						<a href="#" class="list-link">Custom Design</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">All Products</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Inspiration</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Sustainability</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Affiliate Program</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Request Custom Quote</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Request Dieline</a>
					</li>
				</ul>
			</div>
			<div class="footer-block block--menu">
				<ul class="footer-list">
					<li class="list-item">
						<a href="#" class="list-link">About Us</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Blog</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Partners</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Contact Us</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">FAQ</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">Terms & Conditions</a>
					</li>
				</ul>
			</div>
			<div class="footer-block block--menu">
				<ul class="footer-list">
					<li class="list-item">
						<a href="#" class="list-link">Shopify App</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">14 Day Free Shopify Trial</a>
					</li>
					<li class="list-item">
						<a href="#" class="list-link">BigCommerce</a>
					</li>
					<li class="list-item list-socials">
						<a href="#" class="list-link">
							<span class="svg-socials-facebook">
								<svg><use xlink:href="#svg-socials-facebook"></use></svg>
							</span>
						</a>
						<a href="#" class="list-link">
							<span class="svg-socials-twitter">
								<svg><use xlink:href="#svg-socials-twitter"></use></svg>
							</span>
						</a>
						<a href="#" class="list-link">
							<span class="svg-socials-instagram">
								<svg><use xlink:href="#svg-socials-instagram"></use></svg>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-block block--subscribe">
				<p class="block-title">Get exclusive offers and tips.</p>
				<p class="block-input"><input type="text" name="subscribe" placeholder="Your email"></p>
				<p class="block-button"><button type="button" class="btn _m">Start your design</button></p>
			</div>
		</div>
	</div>
</footer>
