<section class="g-section section-request">
	<div class="container">
		<div class="section-content">
			<div class="request-wrapper">
				<div class="request-card">
					<div class="card-image">
						<img src="./images/request/request_1.png" alt="">
					</div>
					<div class="card-content">
						<p class="card-title">Couldn't find a size you need?</p>
						<p class="card-desc">
							We’ll work directly with you to create a fully branded packaging system.
						</p>
						<div class="card-footer">
							<button class="btn btn--white _m" type="button">Request a quote</button>
						</div>
					</div>
				</div>
				<div class="request-card">
					<div class="card-image">
						<img src="./images/request/request_2.png" alt="">
					</div>
					<div class="card-content">
						<p class="card-title">Need a free dieline template?</p>
						<p class="card-desc">
							Let us know what size you need and we'll email an Adobe Illustrator dieline to you within 3-4 business days.
						</p>
						<div class="card-footer">
							<button class="btn btn--white _m" type="button">Request dieline</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
